/*  For contact admin modal Voteclose.php*/

  input[type=text]{
    width: 45%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.container textarea{
    width: 45%;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 45%;
}



.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}


.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; 
  
    width: 32%;
   
}

.container{
    padding: 1em;
}

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}


@media screen and (max-width: 1022px){

.body{
    background-size: cover;
    background-repeat: no-repeat;
    height: 1000px;
}
.modal-content {
    width: 70%;
  
}
input[type=text],input[type=email]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.container textarea{
    width: 100%;
}

button{
   width: 100%;
}

}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

